body {
	color: white;
	padding-bottom: 6em;
	background-image: url(../Images/LakeUnion.jpg);	
	background-size: cover;
	font-weight: 900;
}

.container {
}

#frame {
	background: rgba(100, 100, 100, .75);
	height: 100%;
}

.img-circle {
	border: 2px solid black;
	margin: 0 auto;
}

#player1bid, #player2bid {
	display: inline-block;
	width: auto;
}

#bankroll {
	background-color: lightGrey;
	height: 6em;
	font-size: 1em;
	width: 100%;
	box-size: border-box;
}

span {
	font-size: .75em;
	font-weight: 400; 
}

#collapser {
	padding: 0;
	background: none;
	border: none;
	outline: none;

}

#collapser:hover {
	color: lightGrey;
}

#info {
	position: fixed;
	color: black;
	top: 10%;
	background: rgba(255, 255, 255, 1);
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
	box-sizing: border-box;

}

#endGame {
	position: fixed;
	color: black;
	top: 30%;
	background: rgba(255, 255, 255, 1);
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	box-sizing: border-box;
}

#start-button {
	display: block;
	margin: 0 auto;
}

#p1input, #p2input {
	text-align: center;
	margin: 1em 0;
}

.box {
	color: black;
	background: rgba(255, 255, 255, 1);
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
	box-sizing: border-box;	
}

.auction, .compare {
	color: black;
	background: rgba(255, 255, 255, 1);
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
	box-sizing: border-box;	
	padding: 2em;
}

.stats {
	color: black;
	background-color: white;
	margin-top: 40px;
}

#startGame {
	margin-top: 40px; 
}

.map {
	box-sizing: border-box;
	z-index: 1;	
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.fa-map-marker {
	z-index: 2;
	font-size: 2em;
	color: #FF2A39;
	display: inline;
	position: relative;
	left: -150px;
}

#map-div {
	
	margin-top: 40px;
	text-align: center;
}

td {
	font-weight: 400;
}







